# Dependencies
node_modules/
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log
logs/
