:root {
    --primary-color: #ffa500;
    --secondary-color: #0055ff;
    --accent-color: #00cc00;
    --bg-color: #f9f9f9;
    --text-color: #333333;
    --white-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 50px;
}

.form-box {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px 30px;
    text-align: center;
    margin: 0 auto;
}

label {
    text-align: left;
}
